<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqjtu.csproject.dao.UserMapper">

    <resultMap type="com.cqjtu.csproject.dao.model.Users" id="usersMap">
        <result column="UserId" property="userId"/>
        <result column="UName" property="uName"/>
        <result column="UPassword" property="uPassWord"/>
    </resultMap>

    <select id="findById" resultType="com.cqjtu.csproject.dao.model.Users">
        select * from user where UserId=#{userId}
    </select>

    <select id="getUserEmail" resultType="String">
        SELECT UserEmil from user where UName=#{username}
    </select>

    <insert id="userEnroll" parameterType="com.cqjtu.csproject.dao.model.Users">
        INSERT into user(UserEmil,UName,UPassword,UState,UPhone) values(#{userEmil},#{uName},#{uPassWord},1,uPhone)
    </insert>

    <!--<update id="update">
        UPDATE user SET UName=#{uName} where UId=#{uId}
    </update>
    <delete id="deleteByUId">
        DELETE FROM user where UserId=#{userId}
    </delete>-->

    <select id="userLogin" resultType="com.cqjtu.csproject.dao.model.Users">
        SELECT * FROM user WHERE UserEmil=#{userEmil} AND UPassword=#{passWords}
    </select>

</mapper>